body {
    margin: 0 auto;
    line-height: 1.7em;
}

.pure-menu-heading{
    text-transform:none !important;
}

.main{
    margin: 0;
    height: 828px;
}
.right{
    float: right;
}

.l-box {
    padding: 1em;
}

.pure-menu.pure-menu-open.pure-menu-fixed{
    background: transparent;
    border:0;
}

.absolute{
    position: absolute;
}

.header {
    margin: 0 0;
}

    .header .pure-menu {
        padding: 0.5em;
    }

        .header .pure-menu li a:hover,
        .header .pure-menu li a:focus {
            background: none;
            border: none;
            color: #aaa;
        }

body .primary-button {
    background: #02a6eb;
    color: #fff;
}

.splash {
    margin: 2em auto 0;
    padding: 3em 0.5em;
    background: #eee;
}
    .splash-circle{
        height: 333px;
        width: 333px;
        background: #000;  
        border-radius: 172px;
        margin:39% 111px;
    }
    .second-circle{
        float: right;
        margin: 0 111px 0;
    }
    .second-circle-layer{
        margin: 0;
        opacity: 0.8;
    }
    .second-circle-layer:hover{
        opacity: 0.9;
    }
    .ad-layer{
        background: url(https://googledrive.com/host/0B9LVk4xbDIJTd3BaQ2Z6VHk2eHM/whitediamond.jpg); /* rgba(3, 71, 0, 0.13) */
    }
    .publisher-layer{
        background: url(https://googledrive.com/host/0B9LVk4xbDIJTd3BaQ2Z6VHk2eHM/shattered-ice.jpg);
    }
    .splash-title{
        margin: 142px 82px 0;
        text-align: center;
        position: absolute;
        z-index: 2;
    }
    .white{
        color: #fff;
    }
    .splash-publisher{
        float: right;
    }
    .splash-ad-circle{
        margin-top: 39%;
        background: transparent;
    }
    .splash-publisher-circle{
        background: transparent;
    }
    .splash-bg-image{
        position: absolute;
        width: 50%;
        z-index: -1;
        opacity: 0.44;
    }
    .splash .splash-head {
        font-size: 300%;
        margin: 0em 0;
        line-height: 1.2em;
    }
    .splash .splash-subhead {
        color: #999;
        font-weight: 300;
        line-height: 1.4em;
    }
    .splash .primary-button {
        font-size: 150%;
    }
    .home-slogan{
        text-align: center;
        color: #fff;
        background: rgba(0,0,0,0.5);
        padding: 33px 0;
        margin: -171px auto 0;
    }


.content .content-subhead {
    color: #999;
    padding-bottom: 0.3em;
    text-transform: uppercase;
    margin: 0;
    border-bottom: 2px solid #eee;
    display: inline-block;
}

.content .content-ribbon {
    margin: 3em;
    border-bottom: 1px solid #eee;
}

.ribbon {
    background: #eee;
    text-align: center;
    padding: 2em;
    color: #999;
}
    .ribbon h2 {
        display: inline;
        font-weight: normal;
    }

.footer {
    background: #111;
    color: #666;
    text-align: center;
    padding: 1em;
    font-size: 80%;
}